**/__pycache__
**/.classpath
**/.dockerignore
**/.DS_Store
**/.env
**/.git
**/.github
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/*.md
**/*.py#
**/*.py~
**/*.pyc
**/*compose*
**/azds.yaml
**/bin
**/charts
**/data
**/Dockerfile*
**/heroku.yml
**/justfile
**/LICENSE
**/logs
**/node_modules
**/npm-debug.log
**/obj
**/README.md
